# data science
numpy
pandas
scikit-learn
#ntlk

# utilities
os
#joblib
unidecode

# spotify API
spotipy
lyricsgenius

# text analysis
#text2emotion
transformers
langdetect

# API
fastapi
uvicorn

protobuf==3.19.5
