# packaging
pip>=9
setuptools>=26

# data science
numpy
pandas
scikit-learn
ntlk==3.6.7

# utilities
os
joblib
unidecode

# spotify API
spotipy
lyricsgenius

# text analysis
#text2emotion
#transformers
#langdetect

# API
fastapi
uvicorn
